@font-face {
  font-family: ;
  src: url();
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Plain Light' ;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
}

#crsr{
  height: 2.3vw;
  width: 2.3vw;
  border-radius:50%;
  /* background-color: #fff; */
  border: 1px solid white;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%,-50%);
}

/* loader starts here */
#loader{
  height: 100%;
  width: 100%;
  position:fixed;
  z-index: 999;
  background-color:#0b0b0b;
  padding: 20vh 10vw;
}
.line{
  /* background-color: red; */
  height: fit-content;
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  gap:3vw;
}
#line1-part1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1vw;
}
#line1-part1 h5, #line1-part1 h6{
  font-size: 4vw;
  font-family:"silk serif";
  font-weight: 100;
} 
#line1-part1 h5{
  width: 5vw;
  text-align: right;

}

.line h1{
  font-size: 6.5vw;
  text-transform:uppercase;
  font-weight: 800;
}
.line h2{
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight:500; 
  opacity: 0;
  animation-duration:2s;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0%{
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight:500;
    opacity: 1;
  }
  48%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight:500;
    color:transparent;
    opacity: 0;
  }
  50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight:500;
    color:transparent;
    opacity: 1;
  }
  100%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight:500;
    color:transparent;
    opacity:0;
  }
}
/* loader ends here */

#main{
  position: relative;
  background-color:#030303 ;
  overflow-x: hidden;
}
.mousefollower{
  border: 2px solid #ffffff;
  background-color: #ffffff;
  scale: 2;
  mix-blend-mode: difference;
}

/* page1 starts here */
#page1{
  height:100vh;
  width: 100%;
  background-color:#151515 ;
  margin-bottom: 20vh;
}
#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}
#page1 #navp2{
  display: flex;
  align-content: center;
  justify-content: center;
  gap:3vw;
}
#navp2 h4{
  font-size: 1vw;
  font-weight: 500;
}

.hero{
  width: 73%;
  margin-left:27% ;
  height:fit-content;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;


}
.hero:nth-child(2){
  margin-top:18vh;
}
.hero h1{
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  height: fit-content;
  position: relative;
}
#hero1::before{
  content: "01";
  position:absolute;
  font-size: 3vw;
  font-family:'silk serif';
  font-weight: 500;
  left:-20%;
  top:8%;
}

.hero h2, h3{
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  height: fit-content;
  border-bottom:0.8vw solid #fff;
  padding-bottom:0.5vw;
  transition: all ease 0.3s;
}

.hero h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom:0.8vw solid transparent;
}

#page2{
  height: 100vh;
  width: 100%;
  padding: 3vh;
  position: relative;
  background-color:#151515;
  
}
#video-cont{
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-color: red;
  background-image: url("Images/obyAgency.png" );
  background-size: cover;
  background-position: center;
}
#vcursor{
  background-color: #ffa63d;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  position:absolute;
  top:-15%;
  left: 70%;
  z-index:999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#vcursor i{
  font-size: 2vw;

}

#video-cont video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

#page3{
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(173, 167, 167); */
  position: relative;
  padding: 7vh 2vw;
  margin-bottom: 40vh;
}

#page3 h1{
  text-transform: uppercase;
  font-size: 7vw;
  position: relative;
  margin-left: 28vw;
}
#page3 h1::before{
  content: "02";
  position:absolute;
  font-size: 3vw;
  font-family:'silk serif';
  font-weight: 500;
  left:-20%;
  top:8%;
 
}
#page3 .underline{
  height: 0.2vh;
  width: 100%;
  background-color: #fff;
  margin: 3vw 0;
  margin-left: 28vw
}
#img-div-con{
  padding: 1vw;
  position: relative;
  /* background-color: red; */
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

}
.imgdiv{
  height: 38vw;
  width: 27vw;
  /* background-color:blue; */
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin: 2vw; 
}
.imgdiv:nth-child(1){
  height: 29vw;
  width: 21vw;
}
.imgdiv img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}
.page3circle1{
  height: 23vw;
  width: 23vw;
  /* background-color: #3f7df4; */
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23vh;
  margin-left: 10vw;
  position: relative;
}
.page3circle1 svg{
  height: 30%;
}

.page3circle2{
  height: 23vw;
  width: 23vw;
  /* background-color: #3f7df4; */
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-top: 23vh;
  margin-left: 10vw; */
}
.page3circle2 svg{
  height: 30%;
  rotate: -45deg;
}

.cirlceIn{
  background-color: #fff;
  color: balck;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  scale:0;
  transition: all ease 0.3s;
  transition-delay:0.3s ;

}
.cirlceIn p{
  color: #000;
  width: 60%;
  scale:0;
  transition: all ease 0.3s;
  transition-delay:0.6s ;


}
.page3circle1:hover .cirlceIn{
  scale: 1;

}
.page3circle1:hover p{
  scale: 1;
}

.page3circle2:hover .cirlceIn{
  scale: 1;

}
.page3circle2:hover p{
  scale: 1;
}


#page4{
  min-height: 100vh;
  width: 100%;
  /* background-color: ; */
  position:relative;
  padding:5vh;
}
#page4cont{
  width:72vw;
  position: relative;
  margin-left: 28%;
}
#page4cont h1{
  text-transform: uppercase;
  font-size: 7vw;
  position: relative;
}
#page4cont h1::before{
  content: "03";
  position:absolute;
  font-size: 3vw;
  font-family:'silk serif';
  font-weight: 500;
  left:-20%;
  top:8%;
}
#page4cont .underline{
  height: 0.2vh;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

#page4cont>p{
  font-size: 2.05vw;
  width: 50%;
  margin-bottom:3vw;
}
#page4flex{
  display: flex;

}
#page4flex img{
  width: 48%;
}
#page4flex p{
  font-size: 0.9vw;
  width: 20%;
  margin-left: 1vw;
}
#page4Blue{
  background-color:#3f7df4;
  width: 33vw;
  padding: 4vw 2vw;
  position: relative;
  margin-top: -33vh;
  margin-left:26vw ;
}
.blue1{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5vw 0; 
  border-bottom: 2px solid #ffffff4b; 
}
.blue1 h4{
  font-size: 1.4vw;
  font-weight: 500;
}

.blue1 p{
  width:40%;
  font-size: 0.7vw;
}

#page5{
  min-height: 100vh;
  width: 100%;
  padding: 5vw 0;
  position: relative;
  margin-top: 20vh;
}
.elm{
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 1vw;
}
.elm h1{
  font-size: 7vw;
  -webkit-text-stroke:1px #fff;
  color: transparent;
  font-weight:400;
  text-transform: uppercase;
  display:inline-block;
  margin-right: 1vw;
  animation-name: anime;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 1vw));
  }
}
.elm2{
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 1vw;
}

.elm2 h1{
  font-size: 7vw;
  -webkit-text-stroke:1px #fff;
  color: transparent;
  font-weight:400;
  text-transform: uppercase;
  display:inline-block;
  margin-right: 1vw;
  transform: translate(calc(-100% -1vw));
  animation-name: anime;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elm span{
  color: transparent;
  font-style: italic;
  font-family: 'silk serif';
}
.elm2 span{
  color: transparent;
  font-style: italic;
  font-family: 'silk serif';
}

#footer{
  height: 80vh;
  position: relative;
  width:100%;
  padding-left: 28vw;
  margin-top: 20vh;
}

#footer h1{
  font-size: 7vw;
  margin-bottom: 3vw;
  text-transform: uppercase;
  position: relative;
}
#footer h1::before{
  content: "04";
  position:absolute;
  font-size: 3vw;
  font-family:'silk serif';
  font-weight: 500;
  left:-20%;
  top:8%;
}
.underline1{
  height: 2px;
  width: 100%;
  background-color:#fff ;
  margin-top: 2vw;
}
#footerEnd{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right:15vw ;
  padding-top: 4vw;

}
#footerEnd h6{
  font-size: 1vw;
  margin-bottom: 1.5vw;
}
.box{
  width:20% ;
}
#footerEnd h5{
  font-size: 1.4vw;
  margin: 0.2vh 0;
  font-weight: 500;
}

#footer h4{
  font-weight:500 ;
  font-size: 2vw;
  margin-top: 2vh;
}

._canvas_container{
  z-index: 99999 !important;
  pointer-events: none;
}

#flag{
  height: 25vw;
  position: absolute;
  top:0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#hero3{
  z-index: 999;
  position: relative;
}